<Files ~ "^\.(htaccess|htpasswd)$">
deny from all
</Files>
Options -Indexes

RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ index.php?pag=$1

RewriteCond %{HTTP_HOST} ^(contactproject\.com\.br)(:80)? [NC]
RewriteRule ^(.*) http://www.contactproject.com.br/$1 [R=301,L]

#RewriteCond %{HTTPS} !on$
#RewriteRule ^(.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

DirectoryIndex index.php
order deny,allow