/* Messages */
.message {
    padding: 10px 15px 10px 40px;
    margin: 10px 0;
    font-weight: bold;
    overflow: hidden;
    -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
    font-size: 12px;
    margin: 10px auto;
}
.message a { color: #0006ff; }
.message a:hover { text-decoration: underline; }
.message p { width: 93%; float: left; }
.message.error1 {
    border: 1px solid #e9c59b;
    background: #ffecce url('../img/message.error1_bg.gif') 12px 12px no-repeat;
    color: #e3302c;
}
.message.success {
    border: 1px solid #bfde84;
    background: #edfbd8 url('../img/message.success_bg.gif') 12px 12px no-repeat;
    color: #508600;
}
.message.info {
    border: 1px solid #bbdbe0;
    background: #ecf9ff url('../img/message.info_bg.gif') 12px 12px no-repeat;
    color: #0888c3;
}
.message.warning {
    border: 1px solid #e5e181;
    background: #fefde2 url('../img/message.warning_bg.gif') 12px 12px no-repeat;
    color: #666;
}
.message .close {
    display: block;
    float: right;
    width: 16px;
    height: 16px;
    background: url('../img/message.close_bg.png') 0 0 no-repeat;
    margin-top: 1px;
    cursor: pointer;
    -moz-opacity: 0.7;
    opacity: 0.7;
}
.message .close.hover { -moz-opacity: 1; opacity: 1; }

/* ERROR LABEL JQUERY VALIDATE */
label.error, label.success {
    margin: 3px !important;
    padding: 3px 1px 4px 20px;
    position: absolute;
    font-size: 10px;
    color: red;
    display: block;
    float: left;
    border-bottom: 1px solid #FFF;
    background: #ffecce url('../img/error_bg.gif') no-repeat 3px 3px;
    -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
    border: 1px solid #e9c59b;
    line-height: 13px;
    z-index: 1;
    -moz-box-shadow: 1px 1px 2px #858585;
    -webkit-box-shadow: 1px 1px 2px #858585;
    box-shadow: 1px 1px 2px #858585;
}
label.error:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    color: transparent;
    border: 8px solid;
    border-bottom-color: #ffecce;
    left: 0;
    bottom: 100%;
}

label.success.simportant {
    padding-right: 5px !important;
    color: green !important;
    background: #e9ffae url('../img/success_bg.gif') no-repeat 3px 3px !important;
    border: 1px solid #99ce0e !important;
}
label.success.simportant:after { border-bottom-color: #e9ffae; }

input.error, select.error { border: 1px solid #ff7878 !important; }
/*  end error label jquery validate */

.upper { text-transform: uppercase; }
.lower { text-transform: lowercase; }
